@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/DangHuy_MainContent.cshtml";
}

@model HangHoa
<div>
    <h2>Đặng Quang Huy</h2>
    <h1>Tạo sản phẩm mới</h1>
    <hr>
    <div>
        <span asp-validation-summary="All" class="text-danger"></span>
    </div>
    <form class="form-control" asp-action="Create" asp-controller="QLHangHoa" method="post">
        <div class="form-select" style="margin: 10px;">
            <label style="margin-bottom: 3px;" asp-for="MaLoai">Mã Loại</label>
            <div>
                <select asp-for="MaLoai" asp-items="@ViewBag.LoaiHang"></select>
            </div>
            <span asp-validation-for="MaLoai" class="text-danger"></span>
        </div>
        <div class="input-group" style="margin: 10px;">
            <label style="margin-bottom: 3px;" asp-for="TenHang">Tên hàng</label><br>
            <input class="in" asp-for="TenHang" placeholder="Nhập tên hàng">
            <span asp-validation-for="TenHang" class="text-danger"></span>
        </div>
        <div style="margin: 10px;">
            <label style="margin-bottom: 3px;" asp-for="Gia">Giá</label><br>
            <input asp-for="Gia" placeholder="Nhập giá">
            <span asp-validation-for="Gia" class="text-danger"></span>
        </div>
        <div style="margin: 10px;">
            <label style="margin-bottom: 3px;" asp-for="Anh">Ảnh</label><br>
            <input asp-for="Anh" placeholder="Nhập Ảnh">
            <span asp-validation-for="Anh" class="text-danger"></span>
        </div>
        <button type="submit">Create</button>
    </form>

</div>